.window {
    width: 1400px;
}

.userPostStyle {
    display: flex;
    flex-wrap: wrap;
}

.commentStyle {
    display: flex;
    flex-wrap: wrap;
}

/*.userStyle {*/
/*    width: 650px;*/
/*}*/

/*.postStyle {*/
/*    width: 650px;*/
/*}*/